.get {
  &__container {
    margin: auto;
  }

  &__title {
    margin-left: 420px;
    width: 438px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    letter-spacing: 1.92px;
    color: #191919;
  }

  &__btn {
    margin-left: 540px;
    margin-top: 20px;
    padding: 17px 68px;
    background: #000000;
    border: 1px solid #000000;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 14px;
    text-align: center;
    letter-spacing: 0.864px;
    color: #ffffff;
  }
}
