.next {
  &__container {
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 68px;
  }

  &__title {
    margin-top: 80px;
    width: 400px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    letter-spacing: 1.92px;
    color: #191919;
  }

  &__left {
    margin-top: 81px;
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 16px;
  }

  &__box {
    width: 240px;
    height: 240px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-position: center top;
  }

  &__box1 {
    background-image: url(../assents/snow.png);
  }

  &__box2 {
    background-image: url(../assents/mount.png);
  }

  &__box3 {
    background-image: url(../assents/Hiking.png);
  }

  &__text {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 1.44px;
    color: #ffffff;
  }
}
